.dflt-seperator {
  border-bottom: $border-width solid $border-color;
}
.react-datepicker__input-container {
  input {
    @extend .form-control;
  }
}

.calender-left {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  i {
    color: $gray-100;
  }
}
.calender-right {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  i {
    color: $gray-100;
  }
}
.flatpickr-input {
  border : none;
}


.twitter-tweet-rendered {
  margin: 0 !important;
}
