.dflt-seperator {
  border-bottom: $border-width solid $border-color;
}
.react-datepicker__input-container {
  input {
    @extend .form-control;
  }
}

.calender-left {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  i {
    color: $gray-100;
  }
}
.calender-right {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  i {
    color: $gray-100;
  }
}
.flatpickr-input {
  border: none;
}

.twitter-tweet-rendered {
  margin: 0 !important;
}

.rc-pagination li {
  background-color: transparent;
  border: none;
  color: $gray-700;
  vertical-align: middle;
  button {
    background-color: transparent !important;
    border: none !important;
    line-height: 5px;
    padding-bottom: 5px;
    font-size: 31px !important;
    color: $gray-700;
  }
}

.rc-pagination-disabled button {
  color: $gray-500 !important;
}

.rc-pagination-item-active {
  background-color: $primary !important;
  border-radius: 14px;
  color: $black !important;
}

.alert-tooltip {
  background: $primary !important;
  ::after {
    border-right-color: $primary !important;
  }
  border-radius: 10px !important;
}

.alert-tooltip.place-right::after {
  border-right-color: $primary !important;
}

.tooltip-desc {
  width: 300px;
}

.modal-video {
  position: fixed !important;
}

.alert-badge {
  min-width: 60px;
}

.sort-select-input {
  padding: 10px;
}
