.sign-up-aoi-map-bg {
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 12px 8px 24px -12px rgba(0, 0, 0, 0.3);
  background-color: #3d3f47;
  hr {
    border: solid 1px #6f7070;
  }
}

.map-tooltip {
  pointer-events: all;
  width: 300px;
  background-color: #333f48;
  background: none;
  border: none;
  box-shadow: none;

  .tooltip-img {
    width: 100%;
    height: 115px;
    border-radius: 5px;
    box-shadow: 1px -1px 12px 5px rgb(115 115 115 / 50%);
    border: solid 1px #fff;
  }
  .create-event-button,
  .save-event-button {
    width: 60%;
    margin: auto;
    color: $gray-100;
  }
  .link-button {
    width: 40%;
    margin: auto;
    &:focus {
      outline: none !important;
      box-shadow: none;
    }
  }
}

.mapboxgl-popup-content {
  padding: 5px 29px 14px 226px;
  border-radius: 10px;
  box-shadow: 12px 8px 24px -12px rgba(0, 0, 0, 0.5);
  background: #333f48 !important;
}
.mapboxgl-popup-close-button {
  display: none !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: $gray-100 !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: $gray-100 !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: $gray-100 !important;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: $gray-100 !important;
}
.mapboxgl-map {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}