.sign-up-aoi-map-bg {
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 12px 8px 24px -12px rgba(0, 0, 0, 0.3);
  background-color: #3d3f47;
  hr {
    border: solid 1px #6f7070;
  }
}

.map-tooltip {
  pointer-events: all;
  width: 300px;
  .tooltip-img {
    width: 130px;
    height: 115px;
  }
  textarea {
    width: 210px;
  }
}

.mapboxgl-popup-anchor-left {
  .mapboxgl-popup-tip {
    border-right-color: $gray-100 !important;
  }
}

.mapboxgl-popup-content {
  background: $gray-100 !important;
}
