// 
// _card.scss
// 

.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
}

.noshadow {
  box-shadow: none !important;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;  
}

.default-panel.card {
  border-radius: 10px;
  background-color: $body-bg;
  border: $border-width solid $border-color;
  box-shadow: $box-shadow;
  .card-body {
    padding: 0;
  }
  .card-title, .card-text {
    padding: 1.25rem 1.25rem;
  }
}
