// 
// authentication.scss
//


// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}

// auth 2

.auth-logo{
    .auth-logo-dark{
        display: $display-block;
    }
    .auth-logo-light{
        display: $display-none;
    }
    img {
        margin: auto;
        height: 5rem;
    }
}

.auth-body-bg{
    background-color: $card-bg;
}
.tab-container {
    width: 80%;
    margin: auto;
    padding: 0 0 16px;
    border-radius: 20px;
    box-shadow: 12px 8px 24px -12px rgba(0, 0, 0, 0.3);
    border: solid 1px #545555;
    background-color: #3d3f47;
}


// auth-pass-inputgroup

.auth-pass-inputgroup{
    input[type="input"] + .btn .mdi-eye-outline{
        &:before{
            content: "\F06D1";
        }
    }
}

// authentication full page
.bg-overlay {
    background: url("../../../images/group-2@3x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    @media (max-width: 1200px){
        display: none;
    }
    p{
        opacity: 0.84;
        font-family: Helvetica;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.07px;
        color: #fefefe;
        margin: 0 20px 0 0;
    }
}

.auth-full-bg{
    background-color: rgba($primary, 0.25);
    display: flex;

    @media (min-width: 1200px){
        height: 100vh;
    }
    

    &::before{
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    // .bg-overlay{
    //     background: url("../../../images/bg-auth-overlay.png");
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;
    // }
    
}

.auth-full-page-content{
    display: flex;

    @media (min-width: 1200px){
        min-height: 100vh;
    }
}

.auth-review-carousel{
    &.owl-theme {
        .owl-dots {
            .owl-dot{
                span{
                    background-color: rgba($primary, 0.25);
                }
                &.active, &:hover{
                    span{
                        background-color: $primary;
                    }
                }
            }
        }
    }
}

.auth-form {
    width: 80%;
    margin-top: 2rem;
}

.input-group-text {
    background: $white;
}

.center-sign-in {
    display: flex;
    justify-content: center;
}
.sign-in-btn {
    width: 12rem;
    color: #000;
    margin: .5rem;
}
