.dl-tree-collapse {
    color: #fff;
    margin-left: 50px;
}
.dl-item {
    color: #fff;
    width: 350px;
    &.selected {
        background-color: #909090 !important;
    }
}

.rangeslider-horizontal {
    width: 400px;
}

.btn-layers-slider-play {
    color: #e27b1d !important;
}
