.dl-tree-collapse {
    color: #fff;
}

.dl-item {
    color: #fff;
    width: 350px;
    &.selected {
        background-color: #909090 !important;
    }
}

.rangeslider-horizontal {
    width: 400px;
}

.btn-layers-slider-play {
    color: #e27b1d !important;
}

.rangeslider .rangeslider__handle-tooltip {
    width: 200px !important;
    height: 40px;
}

.legend {
    max-height: 10rem;
    position: absolute;
    bottom: 9rem;
    left: 60rem;
    z-index: 1;

    img {
        max-height: inherit;
    }
}

.props-box {
    margin: 0;
}

.props-line {
    margin: 0;
}

.timestamp-container {
    position: absolute;
    z-index: 100;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestamp-display {
    font-size: 1.5rem;
    color: $orange;
}

.meta-icon {
    &:hover {
        cursor: pointer;
        color: $primary;
    }
}

.meta-close {
    float: right;
    margin-right:  35px;
    cursor: pointer;
}
