body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.geo-menu {
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    color: black;
}

.geo-menuItem {
    padding: 8px 30px;
    margin: 2px 0px;
    border: none;
    cursor: pointer;
}

.geo-menuItem:hover {
    background-color: lightgrey;
}